<ion-app>
    <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-title id="home" (click)="home()">
                  Y
                </ion-title>
              </ion-col>

              <ion-col></ion-col>

              <ion-col id="user">
                <ng-container *ngIf="loggedInUser">
                  <span>Logged in as: <span id="loggedInUser" (click)="goToLoggedIn()">{{loggedInUser.username}}</span></span>
                </ng-container>
              </ion-col>
            </ion-row>
        </ion-grid>
        </ion-toolbar>
      </ion-header>
      
      <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="large">T</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <div id="container">
            <ion-router-outlet></ion-router-outlet>
        </div>
      </ion-content>
</ion-app>
