<ion-grid>
    <ion-row>
        <ion-col></ion-col>
        
        <ion-col>
            <ion-button (click)="selectView('latest')" [disabled]="selectedView === 'latest'">Latest</ion-button>
            <ion-button (click)="selectView('following')" [disabled]="selectedView === 'following'">Following</ion-button>
        </ion-col>
        
        <ion-col></ion-col>
        
    </ion-row>

    <ion-row *ngFor="let post of posts">
        <ion-col></ion-col>
        <ion-col>
            <p>{{post.headline}}</p>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <ion-button (click)="loadMorePosts()">Load more</ion-button>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
</ion-grid>